<template>
  <md-layout md-column>
    <md-card>
      <md-card-header>
        <div class="md-title">SmartWorx Hub - Devices</div>
        <div class="md-subhead">API Client Example</div>
      </md-card-header>
    </md-card>
    <md-layout>
    <md-whiteframe md-elevation="6">
        <md-list class="md-triple-line">
          <md-list-item v-for="d in devices" :key="d.GUID">
            <router-link :to="{name: 'status', params: { guid: d.GUID, deviceName: d.Name }}">
              <div class="md-list-text-container">
                <span>{{ d.Name }}</span>
                <span>{{ d.MacAddress }}</span>
                <p>{{ (d.Online)? "Online": "Offline" }}</p>
              </div>
              <md-icon v-if="d.Online">network_wifi</md-icon>
              <md-icon v-else>signal_wifi_off</md-icon>
            </router-link>
          </md-list-item>
        </md-list>
    </md-whiteframe>
    </md-layout>
  </md-layout>
</template>

<script>
  import axios from 'axios'
  import config from '@/config'

  export default {
    data: () => ({
      devices: []
    }),

    mounted () {
      var _this = this
      if (config.token) {
        axios.get(config.devicesUrl, {
          params: {
            token: config.token
          }
        })
          .then(response => {
            this.devices = response.data
          })
          .catch(e => {
            config.token = ''
            config.lastError = 'Please login again to view your devices'
            _this.$router.push({ name: 'login' })
          })
      } else {
        config.lastError = 'Please login to view your devices'
        _this.$router.push({ name: 'login' })
      }
    }
  }
</script>

<style>
  .md-icon {
    padding: 14px 14px 14px 14px;
  }
</style>
