<template>
  <md-layout md-column>
    <md-card>
      <md-card-header>
        <div class="md-title">SmartWorx Hub - Login</div>
        <div class="md-subhead">API Client Example</div>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <label>Your email</label>
          <md-input placeholder="Username" v-model="username" autofocus></md-input>
        </md-input-container>

        <md-input-container md-has-password>
          <label>Your password</label>
          <md-input placeholder="Password" v-model="password" type="password"></md-input>
        </md-input-container>

        <md-layout md-align="center">
          <md-button class="md-raised md-primary" @click="login">Login</md-button>
        </md-layout>
      </md-card-content>
      <md-snackbar :md-position="'top center'" ref="error" :md-duration="4000">
        <span>{{ error }}</span>
      </md-snackbar>
    </md-card>
  </md-layout>
</template>

<script>
  import axios from 'axios'
  import config from '@/config'

  export default {
    data: () => ({
      username: '',
      password: '',
      error: ''
    }),

    updated: function () {
      if (config.lastError) {
        this.error = config.lastError
        config.lastError = ''
        this.$refs.error.open()
      }
    },

    methods: {
      login () {
        var _this = this
        axios.post(config.loginUrl, {
          username: this.username,
          password: this.password
        })
          .then(function (response) {
            config.token = response.data.token
            _this.$router.push({ name: 'devices' })
          })
          .catch(function () {
            config.lastError = 'Username or password are incorrect'
            _this.$forceUpdate()
          })
      }
    }
  }
</script>
