<template>
  <md-layout md-column md-gutter>
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <div class="md-title">SmartWorx Hub - Status for {{ device }}</div>
          <div class="md-subhead">API Client Example</div>
        </md-card-header-text>
        <router-link :to="{name: 'devices'}">
          <md-button>
            <md-icon>arrow_back</md-icon>
          </md-button>
        </router-link>
      </md-card-header>
    </md-card>
    <md-layout md-column>
      <md-layout md-gutter>
        <md-layout md-flex="40" md-flex-offset="50" md-align="end" md-vertical-align="center">
          Last Updated: {{ lastUpdate }}
        </md-layout>
        <md-layout md-flex="10">
          <md-input-container>
            <label>Refresh interval</label>
            <md-input v-model="interval" type="number" min="30"></md-input>
          </md-input-container>
        </md-layout>
      </md-layout>
      <md-layout md-row>
        <md-layout>
          <md-whiteframe md-elevation="6">
            <md-list class="custom-list md-double-line">
              <md-subheader class="md-inset">Cellular</md-subheader>

              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.cell }}</span>
                  <span>Network cell</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.channel }}</span>
                  <span>Communication Channel</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.operator }}</span>
                  <span>Network operator</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.ip6_address }}</span>
                  <span>IPv6 address</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.signal_quality }}</span>
                  <span>Signal quality in dBm</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.connected }}</span>
                  <span>Is connected</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.technology }}</span>
                  <span>Mobile protocol</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.lac }}</span>
                  <span>Location Area code</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.sim_card }}</span>
                  <span>Slot in use</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.signal_strength }}</span>
                  <span>Signal strength in dBm</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.registration }}</span>
                  <span>Network registration status</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.ip_address }}</span>
                  <span>IP Address</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.cellular.plmn }}</span>
                  <span>Public Land Mobile Network</span>
                </div>
              </md-list-item>
            </md-list>
          </md-whiteframe>
        </md-layout>
        <md-layout>
          <md-whiteframe md-elevation="6">
            <md-list class="custom-list md-double-line">
              <md-subheader class="md-inset">Ethernet</md-subheader>

              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.bridge }}</span>
                  <span>Primary interface bond to a bridge</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.bridge }}</span>
                  <span>Primary interface bond to a bridge</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.ip6_addr }}</span>
                  <span>IPv6 address and mask of the primary network</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.ip_addr }}</span>
                  <span>IP address and mask of the primary network</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.mac_addr }}</span>
                  <span>MAC Address of the primary network</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.ethernet.tx_data }}</span>
                  <span>Amount of data transmitted</span>
                </div>
              </md-list-item>
            </md-list>
          </md-whiteframe>
        </md-layout>
        <md-layout>
          <md-whiteframe md-elevation="6">
            <md-list class="custom-list md-double-line">
              <md-subheader class="md-inset">System</md-subheader>

              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.expansion_port_1 }}</span>
                  <span>Connected to the port</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.uptime }}</span>
                  <span>Time since last boot</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.profile }}</span>
                  <span>Profile selected</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.model }}</span>
                  <span>Cellular module model</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.binary_input }}</span>
                  <span>Binary Input enabled</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.time }}</span>
                  <span>Current time</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.supply_voltage }}</span>
                  <span>Supply voltage</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.manufacturer }}</span>
                  <span>Cellular module manufacturer</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.temperature }}</span>
                  <span>Internal temperature in °C</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.firmware_version }}</span>
                  <span>Device firmware revision</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.serial_number }}</span>
                  <span>Device number</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.revision }}</span>
                  <span>Firmware revision</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.system.binary_output }}</span>
                  <span>Binary Output enabled</span>
                </div>
              </md-list-item>
            </md-list>
          </md-whiteframe>
        </md-layout>
        <md-layout>
          <md-whiteframe md-elevation="6">
            <md-list class="custom-list md-double-line">
              <md-subheader class="md-inset">Wifi</md-subheader>

              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.wifi.ip6_addr }}</span>
                  <span>IPv6 address</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.wifi.ip_addr }}</span>
                  <span>IP address</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.wifi.mac_addr }}</span>
                  <span>MAC Address of the network</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.wifi.rx_data }}</span>
                  <span>Amount of data received</span>
                </div>
              </md-list-item>
              <md-list-item>
                <div class="md-list-text-container">
                  <span>{{ properties.wifi.tx_data }}</span>
                  <span>Amount of data transmitted</span>
                </div>
              </md-list-item>
            </md-list>
          </md-whiteframe>
        </md-layout>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
  import axios from 'axios'
  import config from '@/config'

  export default {
    data: () => ({
      device: '',
      properties: {},
      interval: 60,
      refresh: null,
      lastUpdate: null
    }),
    watch: {
      interval: function (val) {
        this.changeInterval(val)
      }
    },

    methods: {
      loadData: function () {
        var _this = this
        if (config.token) {
          axios.get(config.statusUrl + this.$route.params.guid, {
            params: {
              token: config.token
            }
          })
            .then(response => {
              this.device = this.$route.params.deviceName
              this.properties = response.data
              this.lastUpdate = (new Date().toLocaleString())
            })
            .catch(() => {
              config.token = ''
              config.lastError = 'Please login again to view your devices'
              _this.$router.push({ name: 'login' })
            })
        } else {
          config.lastError = 'Please login to view your devices'
          _this.$router.push({ name: 'login' })
        }
      },

      changeInterval: function (interval) {
        if (interval) {
          clearInterval(this.refresh)
          var _this = this
          this.refresh = setInterval(function () {
            _this.loadData()
          }, interval * 1000)
        }
      }
    },

    mounted () {
      this.loadData()
      this.changeInterval(this.interval)
    },

    ready: function () {
      this.changeInterval(this.interval)
    },

    beforeDestroy: function () {
      clearInterval(this.refresh)
    }
  }
</script>

<style>
  .md-list.md-double-line .md-list-item .md-list-item-container {
    min-height: 50px;
  }
</style>
